<div class="percent_50_center">
<h3 style="text-align: center;">
  <%= @books_checked_out %> books currently checked out.
</h3>

<h3>Books waiting to be checked out</h3>
  <table>
    <th>Book ID</th>
    <th>Available Inventory ID</th>
    <th>Customer ID</th>
    <th>Loan Out Condition</th>
    <th>Action</th>

    <% for reading_list in @reading_list %>

      <tr>
        <td><%= reading_list.book_id %></td>
        <td><%= first_available_inventory(reading_list.book_id).id %></td>
        <td><%= reading_list.customer_id %></td>
        <td><%= first_available_inventory(reading_list.book_id).condition %></td>
        <td id="<%= reading_list.id %>">
          <%= form_tag(checkout_book_path, method: "POST", remote: true) do %>
          <%= hidden_field_tag(:reading_list_id, reading_list.id) %>
          <%= hidden_field_tag(:book_id, reading_list.book_id) %>
          <%= submit_tag("Mark as sent to customer", class: "small button checkout_button", id: reading_list.id) %>
          <% end %>
        </td>
      </tr>

    <% end %>

  </table>
</div>

<h3 style="text-align: center;"><%= will_paginate @reading_list %></h3>

<script type="text/javascript">
  $(".checkout_button").on("click", function(event){
    alert("herro");
  });
</script>



