<div class="percent_50_center">
  <%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="large-6 columns">
        <%= f.label :street_address %>
        <%= f.text_field :street_address %>

        <%= f.label :city %>
        <%= f.text_field :city %>

        <%= f.label :state %>
        <%= f.text_field :state %>

        <%= f.label :zipcode %>
        <%= f.text_field :zipcode %>

        <%= f.label :rental_plan %>
        <%= f.radio_button :rental_plan, 1 %> One book.
        <%= f.radio_button :rental_plan, 2 %> Two books.<br>
        <%= f.radio_button :rental_plan, 3 %> Three books.
        <%= f.radio_button :rental_plan, 4 %> Four books.

        <br>

        <%= f.submit "Join", class: "button success" %>
      </div>
    </div>
  <% end %>
</div>


