<div class="row">
  <h3>Your Reading List (<%= @books.count %>)</h3>
</div>

<% @books.each do |book| %>
  <div class="row">
    <div class="large-3 columns small-3">
      <%= image_tag("#{rand(0..30)}.jpg", class: "book_cover") %>
    </div>
    <div class="large-9 columns">
      <strong><%= book.name %></strong> by: <%= book.author %><br>
      <p>
        <%= book.description %>
      </p>
      <ul class="inline-list">
        <li><%= link_to "Move Up", "#" %></li>
        <li><%= link_to "Move Down", "#" %></li>
        <li><a href="">Remove from list</a></li>
        <li>Share on Facebook</li>
        <li>Share on Goodreads</li>
        <li>Share on Twitter</li>
      </ul>
    </div>
    <hr />
  </div>
<% end %>

<br><br><br><br><br><br><br>
