<div class="row">
  <h3>Your Reading List (<%= @books.count %>)</h3>
</div>

<% @books.each do |book| %>
  <div class="row">
    <div class="large-3 columns small-3">
      <%= image_tag("#{rand(0..30)}.jpg", class: "book_cover") %>
    </div>
    <div class="large-9 columns">
      <strong><%= book.name %></strong> by: <%= book.author %><br>
      <p>
        <%= book.description[0..600] %>
      </p>
      <ul class="inline-list">
        <li><%= link_to "Remove from list", update_reading_list_path(book.id), method: "POST" %></a></li>
      </ul>
    </div>
    <hr />
  </div>
<% end %>

<br><br><br><br><br><br><br>
