<div class="percent_80_center">
  <h3><%= @customer.first_name %> <%= @customer.last_name %></h3>

  <ul class="vcard">
    <li class="street-address"><%= @customer.street_address %></li>
    <li class="locality">
      <%= @customer.city %>, <%= @customer.state %> <%= @customer.zipcode %>
    </li>
    <li class="email"><%= @customer.email %></li>
  </ul>

  <br>
  <ul class="vcard">
    <li class="fn">Your current payment method is:</li>
    <li>MasterCard XXXX-XXXX-XXXX-XX42</li>
    <li>Exp Date: 08-84</li>
    <li>Address</li>
    <li>744 72nd St</li>
    <li>New York, NY</li>
  </ul>
</div>
