<li class="book_li">
  <%= image_tag("#{rand(0..100)}.jpg", class: "book_cover") %>

  <h5 class="book_title"><%= book.name %></h5>
  <h5 class="author_name">By: <%= book.author %></h5>
  <p><%= book.description[0..80] %></p>

  <%= form_tag(reading_lists_path, method: "POST", class: "add_to_reading_list") do %>
    <%= hidden_field_tag(:book_id, book.id)  %>
    <% if current_customer %>
      <%= hidden_field_tag(:customer_id, current_customer.id ) %>
    <% else %>
      <%= hidden_field_tag(:customer_id, nil ) %>
    <% end %>
    <%= submit_tag("Add to Reading List", class: "small success button") %>
  <% end %>
</li>
