<h1>Books</h1>

<table class="span3">
  <thead>
    <tr>
      <th>Image</th>
      <th>Book Name</th>
      <th>Author</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Times rated</th>
      <th>Inventory Count</th>
    </tr>
  </thead>

  <tbody>
    <% for book in @books %>
      <tr>
        <td><%= image_tag("hobbit.jpg", class: "book_cover") %></td>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.description %></td>
        <td><%= '%.1f' % book.rating %></td>
        <td><%= book.times_rated %></td>
        <td><%= book.inventories.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @books %>
<br>
<%= link_to 'New Book', new_book_path %>
