<h1>All Books</h1>

<ul class="large-block-grid-4">
  <% for book in @books %>
    <li>

      <%= image_tag("hobbit.jpg", class: "book_cover") %><br/>
      <%= book.name %><br/>
      By: <%= book.author %><br/>
      <%= book.description %><br/>
      <%= '%.1f' % book.rating %><br/>
      <% if book.inventories.count > 0 %>
        In Stock
      <% else %>
        Out of Stock
      <% end %>
      Add to Queue
    </li>
  <% end %>
</ul>

<br>
<%= will_paginate @books %>
