<%= form_for(@customers_books_read) do |f| %>
  <% if @customers_books_read.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customers_books_read.errors.count, "error") %> prohibited this customers_books_read from being saved:</h2>

      <ul>
      <% @customers_books_read.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
