<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "2ndBookshelf", root_path %></a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to "Books", books_path %></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Categories</a>

        <ul class="dropdown" id="categories_menu">
          <!-- Ajax Automagically adds categories here -->
        </ul>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>

      <% if true #current_admin %>
        <li><%= link_to "Admins", admins_path %></a></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to "Reading List", reading_list_path %></a></li>
        <li  class="has-dropdown">
          <% if current_user.first_name != "" %>
            <%= link_to current_user.first_name, customer_path(current_user) %>
          <% else %>
            <%= link_to "Your Account", customer_path(current_user) %>
          <% end %>
          <ul class="dropdown">
            <li><%= link_to "Your Account", customer_path(current_user) %></li>
            <li><%= link_to "Customers", customers_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        </li>

      <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>

      <!---
      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text">
            </div>
            <div class="small-4 columns">
              <a href="#" class="alert button">Search</a>
            </div>
          </div>
        </form>
      </li>
      -->

    </ul>
  </section>
</nav>

